.register-form__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #0006;
    padding: 22px 38px;
    border: 2px solid #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .register-form__logo {
    max-width: 160px;
    display: block;
    margin: 0 auto 20px;
  }
  
  .register-form__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
  }
  
  .register-form__form div {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .register-form__form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .register-form__form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .register-error {
    color: red;
    margin-top: 10px;
  }
  
  .register-success {
    color: green;
    margin-top: 10px;
  }
  .register-button__button {
    font-size: 1.2em;
    cursor: pointer;
    padding: 12px;
    color: #050505;
    background-color: rgba(249, 192, 108, 1);
    border-radius: 6px;
    min-width: 130px;
    font-weight: 600;
  }
  